@page "/"
@inject HttpClient http

<h1>Daniel sin playground</h1>

Her kommer siste  forsøk på å få en hjemeside som  lekeområde opp å stå.


@if (_vare != null)
{
    <div>
        <p>@_vare.Id</p>
        <p>@_vare.Name</p>
        <p>@_vare.TimeStamp</p>
        <p>@_vare.ItemCategory.Name</p>
    </div>
}
<br />
@if (_handleliste != null)
{
    <h2>Handleliste</h2>
    <p> @_handleliste.Name </p>
}
@if (_itemcat != null)
{
    <h3>kategori</h3>
    <p>@_itemcat.Name</p>
    <p>@_itemcat.Id</p>
}


@code
{

    [Inject]
    public IGenericRepository<ShopItemModel> datamanger { get; set; }
    [Inject]
    public IGenericRepository<ShoppingListModel> shoppingListsDataManager { get; set; }
    [Inject]
    public IGenericRepository<ItemCategoryModel> categoryDatamanager { get; set; }

    private List<string> valuesFromApi;
    private ShopItemModel _vare;
    private ShoppingListModel _handleliste;
    private ItemCategoryModel _itemcat;
    protected async override Task OnInitializedAsync()
    {
        //valuesFromApi = await http.GetFromJsonAsync<List<string>>("api/ItemCategory");
        _handleliste = await shoppingListsDataManager.Get("22");
        _vare = await datamanger.Get("2");
        _itemcat = await categoryDatamanager.Get("33");
    }


}