@if (@OneContact != null)
{

    <TableRowHeader>@OneContact.Id</TableRowHeader>
    <TableRowCell>@OneContact.Name</TableRowCell>
    <TableRowCell>@OneContact.Sted</TableRowCell>
    <TableRowCell>@OneContact.CategoryId</TableRowCell>
    <TableRowCell>@OneContact.ContactDate.ToString("dd.MM.yyyy")</TableRowCell>
    <TableRowCell>
          <label class="btn btn-outline-danger" onclick="@delete()">Slett</label>
    </TableRowCell>

}
@*<Button class="btn btn-outline-danger" >
    Slett
</Button>*@
@code {

    [Parameter]
    public OneCovidContact OneContact { get; set; }

    [Parameter]
    public EventCallback<OneCovidContact> DeleteContact { get; set; }

    private async Task delete()
    {
        await DeleteContact.InvokeAsync(OneContact); 
    }
}

